.first-box {
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
  background-color: rgb(252, 65, 50, 0.8);
  border-style: outset;
  border: 3px solid;
  border-color: black;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.current-city-geo {
  display: block;
  margin: 0 auto;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}

.current-city,
.current-temp,
.current-weather {
  font-size: 35px;
  text-transform: capitalize;
}

.current-weather,
.wind-speed {
  font-size: 35px;
}

.date-time {
  font-size: 35px;
  display: block;
  text-align: center;
}

.current-city,
.current-temp,
.date-time,
.current-weather {
  margin-bottom: 10px;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 25px;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 35px;
}

form {
  display: block;
  margin: 0 auto;
  min-width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 35px;
  background-color: darksalmon;
  text-align: center;
  border: 2px solid;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(rain.jpg);
  background-size: cover;
}

.container {
  margin-top: 100px;
}
