.date-time,
.first-box {
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
  background-color: rgb(252, 65, 50, 0.8);
  border-style: outset;
  border: 3px solid;
  border-color: black;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

.current-city-geo {
  display: block;
  margin: 0 auto;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}

.current-city,
.current-temp {
  font-size: 50px;
  min-width: 300px;
  margin-bottom: 10px;
  display: block;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}
.date-time {
  display: block;
  min-width: 300px;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 25px;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 35px;
}

form {
  display: block;
  margin: 0 auto;
  min-width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 35px;
  background-color: darksalmon;
  text-align: center;
  border: 2px solid;
  font-family: "Arima", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(rain.jpg);
  background-size: cover;
}
